# Absolute path to the root directory of your SS-MIX2 data.
# The contents of this directory will be accessible inside the container at /code/ssmixtools/ssmix_root/
SSMIX_ROOT="/absolute/path/to/ssmix_root"

# Absolute path to the host directory you want to mount into the container.
# The contents of this directory will be accessible inside the container at /code/ssmixtools/mnt/
MOUNTED_DIR="/absolute/path/to/mounted_dir"